---
layout: default
---
<div class="premium-home">		

	<div class="video-banner">

		<div>
			<h1>Smart Digital Cards Made to Stand Out</h1>
			<h2>80% Cheaper. 100% Smarter.</h2>

			<span>Start Today</span>
			<a href="#">Try Free for 30 Days</a>
		</div>

		<video width="320" height="240" controls>
			<source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
		</video>

	</div>

	{% include video-strip.html %}

	<div class="feature-bubbles">
		{% markdown home/difference.md %}
	</div>

	<div class="feature-bubbles dim">
		<h1>The Haystack Benefits</h1>

		<ul>

			<li>
				<h3>Helping Your Emails Stand Out</h3>
				<p>Put a face to your name with Haystack's smart Email Signatures. Make it more personal and memorable and be ready to get some great feedback.</p>
			</li>

			<li>
				<h3>Connecting With Your CRM</h3>
				<p>Use the app to simply snap a photo of the business cards you receive and sync them directly into the corporate CRM as a new contact or lead.</p>
			</li>

			<li>
				<h3>Reducing Your Carbon Footprint</h3>
				<p>For every 100 employees, your company would save two trees each year! Haystack reduces your costs, while being an eco-friendly solution.</p>
			</li>

		</ul>

		<a href="#">Learn even more...</a>
		
	</div>

	<div class="text-cta">
		<h1>Let Your Business Benefit Too</h1>
		<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Start a 30 days free trial</a>
	</div>

	<div class="text-cta">
		<h1>It's time for your business to stand out.</h1>
		<p>Try Haystack Premium for 30 days free</p>
		<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#">Start Now</a>
	</div>

	<div class="testimonials">
		{% for testimonial in site.data.homepage-testimonials.testimonials %}
			<p><img src="{{testimonial.avatarUrl}}"></p>
			<blockquote>
				<p>{{testimonial.quote}}</p>
			</blockquote>
			<span>{{testimonial.citation}}</span>
		{% endfor %}
	</div>

	<!-- <div>
		<h3>(Premium company logos go here)</h3>
	</div>

	<hr>

	<div class="rollout-plan">
		
		<h2>How it works</h2>

		<ol>
			<li>
				<h3>Create your Brand's Template</h3>
				<p>Create beautiful unified templates for your brand in seconds, using the admin dashboard.</p>
				<p>Add images, social media links and videos.</p>
			</li>
			<li>
				<h3>Deploy Across Your Organization</h3>
				<p>Add (or remove) employees to templates and send them their activation links.</p>
				<p>They will be able to share their card immediately.</p>
			</li>
			<li>
				<h3>Track and Monitor</h3>
				<p>Track cards activations,  shares, views and actions performed by recipients of the cards.</p>
				<p>Get valuable ROI metrics for your sales team.</p>
			</li>
		</ol>

	</div> -->

<!-- 	<div>
		<h3>(Media logos go here)</h3>
	</div> -->

</div>