---
layout: image-header
title: Haystack - Stylish and Smart Digital Business Cards.
description: Haystack is your new business card. Haystack stores and updates the business cards you receive, and lets you share your own business card directly from your phone.
priority: 1.0
---
<div class="premium-home">		

	<div class="image-banner">
		<h1>Smart Digital Business Cards Designed to Look Awesome.</h1>
		<div class="image-banner-content branding-form-wrapper">
			<input type="checkbox" name="email-button" id="email-button" value="value">
			<label for="email-button" id="start-branding" class="primary-cta">See what yours could look like</label>
			<form action="http://192.168.0.192:8080" id="branding-form">
				<input type="email" id="card-email" name="email" placeholder="Enter your work email here...">
				<input type="submit" value="Go">
			</form>
			<div class="video-link">
				<script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
				<div class="hs-wistia-container wistia_embed wistia_async_5bbw8l7kl5 popover=true popoverContent=html"
				style="display:inline-block; white-space:nowrap;">
				<a href="#" class="play-video"><i class="material-icons">play_arrow</i>Watch our video</a>
			</div>
		</div>	
		</div>
	</div>

	<div class="feature-bubbles">
		<img src="{{site.cdnurl}}/img/screens.png">
		{% markdown home/difference.md %}
	</div>

	<div class="feature-bubbles-aside">
		<div>
			<div class="phone">
				<img src="{{site.cdnurl}}/img/aside.png">
			</div>
			<div class="features">
				{% markdown home/benefits.md %}
			</div>
		</div>
		<a href="/technicalspecifications">Learn even more...</a>
	</div>

	<div class="text-cta">
		<h1>Let Your Business Benefit Too</h1>
		<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/pricing">Start a 30 day free trial</a>
	</div>

	{% include how-it-works.html %}

	{% include premium-clients.html %}

	{% include media-outlets.html %}

	<div class="pricing-panels-section less-content">
		{% include pricing-panels.html %}
	</div>

	<div class="testimonials">
		{% for testimonial in site.data.homepage-testimonials.testimonials %}
			<p><img src="{{site.cdnurl}}/img/testimonials/{{testimonial.avatarUrl}}"></p>
			<blockquote>
				<p>{{testimonial.quote}}</p>
			</blockquote>
			<span>{{testimonial.citation}}</span>
		{% endfor %}
	</div>

	<div class="text-cta">
		<h1>It's time for your business to stand out.</h1>
		<p>Try Haystack Premium for 30 days free</p>
		<a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/pricing">Start Now</a>
	</div>

</div>