---
layout: default
title: Pricing | Haystack
description: Haystack is your new business card. Haystack stores and updates the business cards you receive, and lets you share your own business card directly from your phone.
---
<div class="pricing">

	<div class="text-content page-header">
		<h1>Haystack Pricing</h1>
		<span>80% Cheaper, 100% Smarter</span>
	</div>
	
	{% include pricing-panels.html %}
	
	<div class="text-content">
		{% markdown pricing/pricing-faq.md %}
	</div>

	<div class="text-cta">
		<h1>Still have some questions?</h1>
		<p>Visit our complete <a href="/faq">FAQ page</a> or <a href="{{site.data.links.contact_us_sales}}">contact us</a></p>
	</div>

	{% include premium-clients.html %}

	<div class="testimonials">
		{% for testimonial in site.data.homepage-testimonials.testimonials %}
			<p><img src="{{testimonial.avatarUrl}}"></p>
			<blockquote>
				<p>{{testimonial.quote}}</p>
			</blockquote>
			<span>{{testimonial.citation}}</span>
		{% endfor %}
	</div>

</div>