---
layout: image-header
title: Pricing | Haystack
description: Haystack is your new business card. Haystack stores and updates the business cards you receive, and lets you share your own business card directly from your phone.
priority: 0.9
---
<div class="pricing">

	<div class="image-banner">
		<h1>Choose your plan</h1>
		<h2>80% Cheaper, 100% Smarter</h2>
	</div>
	
	<div id="plans">
		{% include pricing-panels.html %}		
	</div>
	
	<div class="text-content accordion">
		{% markdown pricing/pricing-faq.md %}
	</div>

	<div class="text-cta">
		<h1>Still have some questions?</h1>
		<p>Visit our complete <a href="/faq">FAQ page</a> or <a href="{{site.data.links.contact_us_sales}}">contact us</a></p>
	</div>

	<div class="testimonials">
		{% for testimonial in site.data.homepage-testimonials.testimonials %}
			<p><img src="{{site.cdnurl}}/img/testimonials/{{testimonial.avatarUrl}}"></p>
			<blockquote>
				<p>{{testimonial.quote}}</p>
			</blockquote>
			<span>{{testimonial.citation}}</span>
		{% endfor %}
	</div>
	
	<div id="premium-clients" class="logo-strip wrapped dark very-thin">
		{% include premium-clients.html %}
	</div>

</div>