.premium-home {

	.image-banner {
		background-color: #7b6b5c;
		background-position: 82% 50%;
		background-attachment: fixed;
		background-image: url(image_path('headers/home.jpg'));
		height: 85vh;
		max-height: 85vh;

		.image-banner-content {
			max-width: 360px;
		}

		@media #{$header-change} {
			padding: 7.5%;
			align-items: flex-start;
			&:before {
				opacity: 0;
			}
			.image-banner-content {
				max-width: initial;
			}
		}
	}
}