<dialog id="app-download" class="mdl-dialog">
	<h4 class="mdl-dialog__title">Create your free digital business card now</h4>
	<div class="mdl-dialog__content">
		<p>Download our free app</p>
		<div class="app-store-links">
			<a href="{{site.data.links.app_download_ios}}" target="_blank">{% img 'apple.svg' %}</a>
			<a href="{{site.data.links.app_download_android}}&referrer=utm_source%3DhaystackWebsite%26utm_medium%3Dabout" target="_blank">{% img 'google-play.svg' %}</a>
		</div>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--icon close">
		<i class="material-icons">close</i>
	</button>
</dialog>

<dialog id="select-num-users" class="mdl-dialog">
	<h4 class="mdl-dialog__title">How many Haystack cards would you like?</h4>
	<div class="mdl-dialog__content">
		{% for tier in site.data.pricing.tiers %}
		<a class="mdl-button" href="{{ tier.url }}">
			<div>
				<span class="price-qualifier">For {% if tier.multipleusers == true %}up to {% endif %}</span>
				<span class="num-users">{{tier.numofusers}} user{% if tier.multipleusers == true %}s{% endif %}</span>
			</div>
			<span class="price">${{tier.price}}<span>/month</span></span>
			<i class="material-icons">chevron_right</i>
		 </a>
		{% endfor %}
	</div>
	<button class="mdl-button mdl-js-button mdl-button--icon close">
		<i class="material-icons">close</i>
	</button>
</dialog>

<dialog id="branding-tool" class="mdl-dialog">
	<h4 class="mdl-dialog__title">Create your free digital business card now</h4>
	<div class="mdl-dialog__content">
		{% include branding-form.html %}
	</div>
	<button class="mdl-button mdl-js-button mdl-button--icon close">
		<i class="material-icons">close</i>
	</button>
</dialog>

<dialog id="incremental-pricing-confirmation" class="mdl-dialog">
	<div class="mdl-dialog__content">
		<div class="text-content">
			<h2>Start your 30 day free trial</h2>
			<p>Haystack for Business monthly subscription costs <strong>$7.95</strong>.</p>
			<ul>
				<li>The subscription includes a license for <strong>1 card</strong>.</li>
				<li>More cards can be added to the account within the Admin Dashboard.</li>
				<li>Each additional card will be charged at <strong>$3 per card, per month</strong>.</li>
			</ul>
			<a class="call-to-action" href="https://premium.thehaystackapp.com/plan/haystack-for-business">Continue</a>
			<p><em>Note: No charges will be incurred during the 30 day free trial period.</em></p>
		</div>
	</div>
	<button class="mdl-button mdl-js-button mdl-button--icon close">
		<i class="material-icons">close</i>
	</button>
</dialog>