<footer class="mdl-mega-footer">

  <div class="mdl-mega-footer__middle-section">

  	{% for section in site.data.footer.sections %}
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">{{ section.label }}</h1>
      <ul class="mdl-mega-footer__link-list">
    		{% for link in section.links %}
        <li><a href="{{link.url}}">{{link.label}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

  </div>

</footer>