<footer class="mdl-mega-footer">

  <div class="mdl-mega-footer__middle-section">

  	{% for section in site.data.footer.sections %}
    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">{{ section.label }}</h1>
      <ul class="mdl-mega-footer__link-list">
        {% for link in section.links %}
        <li><a href="{{link.url}}" {% if link.newtab == true %}target="_blank"{% endif %}>{{link.label}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <ul class="mdl-mega-footer__link-list social-links">
      <li><a target="_blank" href="{{site.data.links.social_twitter}}">{% img 'icons/twitter.svg' %}Twitter</a></li>
      <li><a target="_blank" href="{{site.data.links.social_linkedin}}">{% img 'icons/linkedin.svg' %}LinkedIn</a></li>
    </ul>
  </div>

  <div class="mdl-mega-footer__bottom-section">
    <ul class="mdl-mega-footer__link-list badges">
      <li><a class="mxpnl" target="_blank" href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></li>
    </ul>
  </div>

</footer>