<header class="mdl-layout__header start-transparent">
	<div class="mdl-layout__header-row">
	<!-- Title -->
	<a href="/">
		{% img 'logo-white.svg' class:'logo' %}
	</a>
	<!-- Add spacer, to align navigation to the right -->
	<div class="mdl-layout-spacer"></div>
	<!-- Navigation. We hide it in small screens. -->
	<nav class="mdl-navigation">
		{% for link in site.data.header.links %}
		<a class="mdl-navigation__link" href="{{link.url}}" {% if link.newtab == true %}target="_blank"{% endif %}>{{link.label}}</a>
		{% endfor %}
		<a class="mdl-navigation__link never-hide" id="demo-menu-lower-right">Log in</a>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
		    for="demo-menu-lower-right">
		  <a class="mdl-menu__item" href="{{site.data.links.premium_dashboard_url}}">Haystack Premium Dashboard</a>
		  <a class="mdl-menu__item" href="{{site.data.links.webapp_url}}">Haystack on the web</a>
		</ul>
	</nav>
	</div>
</header>

<div class="mdl-layout__drawer">
	<span class="mdl-layout-title">Haystack</span>
	<nav class="mdl-navigation">
		{% for link in site.data.header.links %}
		<a class="mdl-navigation__link" href="{{link.url}}">{{link.label}}</a>
		{% endfor %}
	</nav>
</div>