<div class="how-it-works">
	<section class="zero">
		<div>
			<h1>How it works</h1>
		</div>
	</section>
	<section class="one">

		<div>
			<img src="img/how-it-works/1.png">
			<h2><span>Step 1:</span> Create Your Brand's Template</h2>
			<p>Create beautiful unified templates for your brand in seconds, using our admin dashboard.</p>
			<p>Add images, social media links &amp; videos.</p>			
		</div>

	</section>
	<section class="two">

		<div>
			<img src="img/how-it-works/2.png">
			<h2><span>Step 2:</span> Deploy across your organization</h2>
			<p>Add (or remove) employees to templates and send them their activation links.</p>
			<p>They will be able to share their card immediately.</p>
		</div>

	</section>
	<section class="three">

		<div>
			<img src="img/how-it-works/3.png">
			<h2><span>Step 3:</span> Track &amp; Monitor</h2>
			<p>Track cards' activations, shares, views and actions performed by recipients of the cards.</p>
			<p>Get value ROI metrics for your sales team.</p>
		</div>

	</section>
</div>