header {

	$header-type-breakpoint: 1025px;
	&.mdl-layout__header {
		transition: box-shadow 0.1s, background-color 0.25s;		
		.transparent-header & .mdl-layout__drawer-button {
			background-color: transparent;
		}
	}

	
	// Hack of MDL header to be fixed
	position: fixed;

	.mdl-layout__drawer-button {
		@media (min-width: $header-type-breakpoint) {
			display: none;
		}
	}

	.mdl-layout__header-row {

		align-self: center;
		padding: 0;

		.logo {
			height: 28px;
		}

		@media (min-width: $header-type-breakpoint) {
			padding: 0 24px;
			height: 72px;
			align-self: stretch;
			.logo {
				height: 28px;
			}
		}
	}
}

header.transparent, .transparent-header header.start-transparent {
	background-color: rgba(0,188,212,0);
	box-shadow: none;
}