header {

	$header-type-breakpoint: 1024px;

	.mdl-layout__drawer-button {
		@media (min-width: $header-type-breakpoint) {
			display: none;
		}
	}

	.mdl-layout__header-row {

		align-self: center;
		padding: 0;

		.logo {
			height: 36px;
		}

		@media (min-width: $header-type-breakpoint) {
			padding: 0 24px;
			height: 72px;
			align-self: stretch;
		}
	}
}