.how-it-works {

	border-top: 1px solid $hs-blue-grey-50;

	$estimated-content-height: 200px;
	$section-height: 400px;
	$content-width: 1200px;
	$background-image-padding: 32px;
	$section-side-padding: 48px;
	$section-vertical-padding: 96px;

	section, .header {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: right ($section-side-padding - $background-image-padding) center;
		@media (min-width: $content-width + ($section-side-padding * 2)) {
			background-position: right calc((100vw - #{$content-width}) / 2 - #{$background-image-padding}) center;			
		}
	}

	section.one   { background-image: url(../img/how-it-works/1.png); }
	section.two   { background-image: url(../img/how-it-works/2.png); background-color: #F2F2F2; }
	section.three { background-image: url(../img/how-it-works/1.png); }

	section {
		padding: $section-vertical-padding $section-side-padding;
		height: $section-height;
		@include flex-center(column);

		> div {
			width: $content-width;
			max-width: 100%;
		}		

		h2 {
			margin-top: 0;
			font-size: 24px;
			font-weight: 400;
			color: $hs-blue-grey-900;
			span {
				color: $hs-blue-grey-200;
			}
		}

		p {
			font-size: 16px;
			color: $hs-blue-grey-500;
			font-weight: 400;
			max-width: 540px;
		}		
	}

}