.image-banner {
	background-color: #7b6b5c;
	background-image: url(https://dl.dropboxusercontent.com/u/7053608/Header-background-experimental.jpg);
	background-size: cover;
	background-position: 85% 50%;
	background-attachment: fixed;
	height: 85vh;
	transition: height 0.5s cubic-bezier(.64,.04,.42,.98);
	box-sizing: border-box;
	position: relative;

	$header-change: "(min-width: 640px) and (orientation: landscape) and (min-height: 400px)";

	@include flex-center(column);
	@media #{$header-change} {
		padding: 7.5%;
		align-items: flex-start;    	
	}

	&:before {
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		background-color: $hs-blue-grey-900;
		opacity: 0.75;
		@media #{$header-change} {
			opacity: 0;
		}
	}

	h1 {
		margin: 0;
		color: white;
		font-size: 24px;
		font-weight: 200;
		text-align: center;
		max-width: 320px;
		z-index: 1;
		@media #{$header-change} {
			max-width: 50%;
			text-align: left;
			font-size: 3.33vw;
		}
	}

	a {
		@extend .hs-button-raised-primary;
		color: white;
		text-transform: none;
		margin-top: 24px;
		@media #{$header-change} {
			margin-top: 48px;
    		height: 72px;
	    	line-height: 72px;
		    padding: 0 24px;
			font-size: 24px;
			font-weight: 200;
			border-radius: 4px;
		}
	}

}