#premium-customers {

	background-color: $hs-primary-900;
	padding: 96px 16px;
	text-align: center;

	h4 {
		font-size: 24px;
		font-weight: 300;
		line-height: 32px;
		color: white;
		margin-bottom: 64px;
	}

	.customer-logos {
		margin-top: 36px;
		max-width: 1200px;
		margin: auto;
	}
}

.customer-logos a.logo-wrapper {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	
	padding: 18px;
	width: 96px;
	height: 48px;

	transition: background-color 0.25s;

}

.customer-logos a.logo-wrapper > div.logo {
	height: 100%;
	width: 100%;
	white-space: nowrap;
	@include flex-center(column);
}

.customer-logos a.logo-wrapper > div.logo img {
	max-height: 100%;
	max-width: 100%;
	display: inline-block;
	vertical-align: middle;
}

@media (min-width: 800px) {
	.customer-logos a.logo-wrapper { height: auto; width: auto; padding: 36px;}
	.customer-logos a.logo-wrapper > div.logo img { max-height: 48px; max-width: 136px; }
}

.customer-logos a.logo-wrapper > div.logo img.white { display: inline-block }
.customer-logos a.logo-wrapper > div.logo img.color { display: none; }
.customer-logos a.logo-wrapper:hover {	opacity: 0.8; }
