.text-content {

	margin: auto;
	max-width: $fixed-column-width;
	padding: 24px;
	@media #{$gt-xs} {
		padding: 96px 40px;
	}

	h1 {
		@include typo-display-1;
		@media #{$gt-xs} {
			font-size: 56px;
			line-height: 1em;
		}
		color: $hs-blue-grey-200;
		margin-bottom: 1.25em;
	}

	h2 {
		margin-top: 3em;
		@include typo-headline;
		color: $hs-blue-grey-900;
	}

	p {
		color: $hs-blue-grey-700;
		h1 + & {

		}
	}

	a {
		@extend .mdl-button--primary;
		text-decoration: none;
	}

	p > img {
		max-width: 100%;
	}

}