.text-content {

	margin: auto;
	max-width: $fixed-column-width;
	padding: 24px;

	h1 {
		@include typo-display-1;
		@media #{$gt-xs} {
			font-size: 56px;
		}
		color: $hs-blue-grey-200;
		margin-top: 1.5em;
	}

	h2 {
		margin-top: 3em;
		@include typo-headline;
		color: $hs-blue-grey-900;
	}

	p {
		color: $hs-blue-grey-700;
	}

}