.video-strip {

	background-color: $hs-blue-grey-50;

	height: 300px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;

	a.play-video {
		@extend .mdl-button;
		font-size: 20px;
		height: 3em;
		padding-top: 1em;
	    padding-bottom: 1em;
		color: $hs-blue-grey-300;
		i {
			margin-right: 8px;
			font-size: 3em;
		}
	}
}