
$submit-button-width: 96px;
$branding-form-height: 48px;
$branding-form-height-large: 72px;
$animation-speed: 0.5s;

.branding-form {

	position: relative;
	height: $branding-form-height;
	width: 100%;

	.input-area {
		@include flex-left();
		flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		background-color: white;
		height: 100%;
		max-width: 100%;
		border: none;
		border-radius: 4px;
		overflow: hidden;
		transition: width $animation-speed;
		transition-timing-function: cubic-bezier(.2,.75,.5,1);		
		position: relative;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	
	input[type=email] {
		box-sizing: border-box;
		font-size: 16px;
		font-family: inherit;
		color: $hs-blue-grey-900;
		background-color: $hs-blue-grey-50;
		outline: none;
		padding: 16px 16px;
		height: 100%;
		margin: 0;
		border: 0;
		width: 0;
		flex: 1 1 auto;
	}
	input[type=submit] {
		width: 56px;
		height: 100%;
		flex: 0 0 auto;
		background-color: $hs-primary-500;
		color: white;
		outline: none;
		border: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 16px;
		font-family: inherit;
		cursor: pointer;
	}

	.reveal-branding-form {
		display: none;
	}

	.error-message {
		display: block;
		text-align: center;
		margin-top: 16px;
	}

	@media #{$header-change} {
		height: $branding-form-height-large;
		width: initial;
		.input-area {
			border-radius: 8px;
		}
		input[type=email] {
			font-size: 24px;
			padding: 16px 24px;
		}
		input[type=submit] {
			width: $submit-button-width;
			font-size: 24px;
		}
	}
}

.branding-form-wrapper {

	z-index: 1;
	position: relative;

	// Hide checkbox
	input[type=checkbox] {
		display: none;
	}

	.branding-form {

		.reveal-branding-form {
			display: block;
			opacity: 1;
			width: 100%;
			box-sizing: border-box;
			min-width: 0;
			line-height: $branding-form-height;
			transition:
					opacity $animation-speed,
					padding $animation-speed,
					width $animation-speed,
					color 0.1s;
			transition-timing-function: cubic-bezier(.2,.75,.5,1);
			right: 0;
			position: absolute;
			height: 100%;
		}
	}


	.video-link {
		opacity: 1;
		transition: opacity $animation-speed;
	}

	@media #{$header-change} {

		.input-area {
			width: 370px;
			margin-right: 16px;
		}
		.branding-form .reveal-branding-form {
			height: $branding-form-height-large;
			line-height: $branding-form-height-large;
		}
	}

}

.branding-form-wrapper > input[type=checkbox]:checked {

	& ~ .branding-form .reveal-branding-form {
		opacity: 0;
		padding: 0;
		width: 0;
		color: $hs-primary-500;
	}

	& ~ .branding-form .input-area {
		@media #{$header-change} {
			width: 512px;
		}
	}

	& ~ .video-link {
		opacity: 0;
	}
}