footer.mdl-mega-footer {

	background-color: $hs-blue-grey-900;

	h1.mdl-mega-footer__heading {
		@media (min-width: 760px) {
			color: $hs-primary-500;
		}
	}

	.mdl-mega-footer__link-list a {
		color: $hs-primary-50;
		font-weight: 400;
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}

	.social-links {
		a {
			color: white;
			// opacity: 1;
		}
		a img {
			width: 24px;
			height: 24px;
			margin-right: 4px;
			margin-bottom: 2px;
			color: white;
		}
	}
}