.logo-strip {

	background-color: $hs-blue-grey-50;	

	text-align: center;

	@mixin max-items($num) {
		display: none;
		@for $i from 0 to $num {
			&:nth-child(#{$i + 1}) {
				display: inline-block;
			}			
		}
	}

	&.very-thin {
		padding: 24px 16px;
		@media #{$gt-sm} { padding: 0; }
	}

	&.thin {
		padding: 40px 16px;
	}

	&.thick {
		padding: 96px 16px;
	}

	.logo img.white { display: none; }
	.logo img.color { display: none; }
	.logo img.grey { display: inline-block; }

	&.dark {
		background-color: #00727B;
		.logo img.white { display: inline-block; opacity: 0.54; }
		.logo img.grey { display: none; }
		.logo img.color { display: none; }
	}

	&.color {
		.logo img.white { display: none; }
		.logo img.grey { display: none; }
		.logo img.color { display: inline-block; }
	}

	// Wrapped denotes a size where logos are
	// next to each other horizontally on small screens
	&.wrapped {
		.logos {
			a.logo-wrapper {
				width: 96px;
			}
		}
	}

	h4 {
		font-size: 24px;
		font-weight: 300;
		line-height: 32px;
		color: white;
		margin-bottom: 64px;
	}

	.logos {
		margin-top: 36px;
		max-width: 1200px;
		margin: auto;

		a.logo-wrapper {
			display: inline-block;
			text-align: center;
			vertical-align: middle;
			
			padding: 18px;
			width: 252px;
			height: 48px;

			transition: background-color 0.25s;

			&:hover { opacity: 0.54; }
		}

		a.logo-wrapper > div.logo {
			height: 100%;
			width: 100%;
			white-space: nowrap;
			@include flex-center(column);
			img {
				max-height: 100%;
				max-width: 100%;
				vertical-align: middle;
			}
		}

		@media (min-width: 1200px) {
			a.logo-wrapper { height: auto; width: auto; padding: 36px;}
			a.logo-wrapper > div.logo img { max-height: 48px; max-width: 136px; }
		}
		@media (max-width: 1199px) {
			a.logo-wrapper { @include max-items(6); }
		}
	}
}

