.how-it-works {

	border-top: 1px solid $hs-blue-grey-50;

	$estimated-content-height: 200px;
	$section-height: 80vh;
	$content-width: 1200px;
	$layout-change-point: 1200px;
	$background-image-padding: 32px;
	$section-side-padding-small: 32px;
	$section-vertical-padding-small: 48px;
	$section-side-padding-big: 96px;
	$section-vertical-padding-big: 96px;

	section {
		padding: $section-vertical-padding-small $section-side-padding-small;
		text-align: center;
		@include flex-center(column);

		> div {
			width: $content-width;
			max-width: 100%;
		}

		img {
			width: 300px;
			max-width: 100%;
			margin-bottom: 24px;
		}

		h1 {
			@include typo-display-1;
			@media #{$gt-xs} {
				font-size: 56px;
				line-height: 1em;
			}
			color: $hs-blue-grey-200;
			font-weight: 300;
		}

		h2 {
			margin-top: 0;
			font-size: 24px;
			font-weight: 400;
			line-height: 1.25em;
			color: $hs-blue-grey-900;
			span {
				display: block;
				color: $hs-blue-grey-200;
			}
		}

		p {
			font-size: 16px;
			color: $hs-blue-grey-500;
			font-weight: 400;
		}

		&:first-child {	padding-top:    $section-vertical-padding-small * 2; }
		&:last-child  { padding-bottom: $section-vertical-padding-small * 2; }
	}

	// Glorious fixed background image
	section {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: right ($section-side-padding-big - $background-image-padding) center;
		background-size: 512px;
		&.zero  { background-color: #F2F2F2; }
		&.one   { background-color: #F2F2F2; padding-top: 0; }
		&.two   { }
		&.three { background-color: #F2F2F2; }
		@media (min-width: $content-width + ($section-side-padding-big * 2)) {
			background-position: right calc((100vw - #{$content-width}) / 2 - #{$background-image-padding}) center;			
		}
		@media (min-width: 1336px) {
			background-size: auto;
		}
	}

	@media #{$gt-xs} {
		section {
			padding: $section-vertical-padding-big $section-side-padding-big;
			img {
				width: 512px;
				margin-bottom: 48px;
			}
		}
	}

	@media (min-width: $layout-change-point) {
		section {
			height: $section-height;
			text-align: left;
			img { display: none; }
			h2 span { display: inline; }
			p { max-width: 540px; }
			&.zero  { background-image: url(../img/how-it-works/0.png); height: 400px; }
			&.one   { background-image: url(../img/how-it-works/1.png); }
			&.two   { background-image: url(../img/how-it-works/2.png); }
			&.three { background-image: url(../img/how-it-works/3.png); }
		}
	}

}