.pricing-panels-section {
	background-color: white;
	padding: 96px 0;
}

.pricing-panels {

	@include flex-center(column);
	$max-panel-width: 1280px;
	$layout-switch-size: 960px;

	> ul	{
		@include flex-center(column);
		align-items: stretch;
		@media (min-width: $layout-switch-size) {
			flex-direction: row;
		}
		list-style-type: none;
		padding: 0;
		width: 100%;
		max-width: $max-panel-width;
	}

	> ul > li {

		$padding: 24px;
		$border-radius: 8px;
		$panel-spacing: 16px;

		$width: ($max-panel-width / 3) - ($padding * 2);

		background-color: white;
		border-radius: $border-radius;
		overflow: hidden;
		border: 1px solid $hs-primary-100;
		margin: $panel-spacing / 2 $panel-spacing;
		padding-bottom: $padding;

		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		-webkit-align-items: stretch;
		-ms-flex-align: stretch;
		align-items: stretch;

		@media (min-width: $layout-switch-size) {
			width: $width;
			max-width: $width;
			flex-basis: $width;
			margin: $panel-spacing / 2;
			&:first-child { margin-left: $panel-spacing; }
			&:last-child { margin-right: $panel-spacing; }
		}

		// Title
		h2 {
			margin: 0;
			padding: $padding;
			padding-bottom: $padding + $border-radius;
			font-size: 24px;
			line-height: 1em;
			text-transform: uppercase;
			font-weight: 500;
			color: $hs-primary-500;
			background-color: $hs-primary-50;
			position: relative;
			img {
				position: absolute;
				top: 0;
				right: 8px;
				color: green;
				height: 24px + ($padding * 2);
			}
		}

		// Price qualifier (Always / starting at)
		h2 + p {
			padding: 0 $padding;
			font-size: 16px;
			font-weight: 500;
			color: $hs-blue-grey-600;
			padding-top: 40px;
			border-top: 1px solid $hs-primary-100;
			border-radius: $border-radius;
			margin-top: -$border-radius;
			margin-bottom: 0;
			background-color: white;
			z-index: 1;
		}

		// Price
		h2 + p + ul {

			list-style-type: none;
			padding: 0 $padding;
			margin-bottom: 32px;

			@include flex-center(row);
			justify-content: flex-start;

			li {
				color: $hs-blue-grey-800;
				font-size: 64px;
				line-height: 64px;
				font-weight: 600;
				font-weight: 300;
			}

			li:first-child, li:last-child {
				font-size: 24px;
				line-height: 24px;
				font-weight: 400;
				padding: 6px 0px;
			}

			li:first-child { align-self: flex-start; }
			li:last-child { align-self: flex-end; }
		}

		// Description
		p {
			padding: 0 $padding;
			font-size: 20px;
			font-weight: 300;
			margin-bottom: 8px;
			color: $hs-blue-grey-900;
		}

		// List
		p:not(:nth-child(2)) + ul {
			list-style-type: none;
			padding: 0 $padding;
			margin: 24px 0;
			flex: 1 1 auto;
			li {
				$bullet-margin: 16px;
				$bullet-width: 24px;
				&:before {
					@extend .material-icons;
					content: 'done';
					vertical-align: middle;
					color: $hs-primary-500;
					margin-right: $bullet-margin;
					left: 0;
					position: absolute;
				}
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 16px;
				color: $hs-blue-grey-900;
				position: relative;
				padding-left: $bullet-margin + $bullet-width;
			}
		}

		// Link
		> p > a {
		    margin: 24px 0 -8px 0;
			@extend .mdl-button;
			@extend .mdl-button--primary;
			display: block;
			height: 56px;
			line-height: 56px;
			margin: 0;
			border: 1px solid $hs-primary-500;
		    font-size: 16px;
		}

		&:nth-child(2) {
			h2 {
				background-color: $hs-primary-500;
				color: white;
			}
			> p > a:first-child {
				@extend .hs-button-raised-primary;
				height: 56px;
				line-height: 56px;
				display: block;
			    font-size: 16px;
			}
		}

		&:nth-child(3) {
			h2 {
				background-color: $hs-blue-grey-700;
				color: white;
			}
		}

	}

}